---
import { Image } from "astro:assets";

type Props = {
  href: string;
  src: string;
  title: string;
  css?: boolean;
  gsap?: boolean;
  motion?: boolean;
  threejs?: boolean;
};

const {
  href,
  src,
  title,
  css = false,
  gsap = false,
  motion = false,
  threejs = false,
} = Astro.props;

import motionLogoImage from "../images/icons/motion.png";

const cssStr =
  "https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white";
const gsapStr =
  "https://img.shields.io/badge/GSAP-93CF2B?style=for-the-badge&logo=greensock&logoColor=whitee";
const threejsStr =
  "https://img.shields.io/badge/ThreeJs-black?style=for-the-badge&logo=three.js&logoColor=white";
---

<!-- 384:288, 2x = 768:576, 3x = 1152:864 -->
<a
  href={href}
  class="flex w-96 flex-col overflow-clip rounded-lg bg-gray-700/50 transition duration-500 hover:scale-[1.025] focus:scale-[1.025]"
>
  <div class="h-72 w-full p-2">
    <video
      src={src}
      class="h-full w-full rounded-md object-cover"
      autoplay
      loop
      muted
      playsinline
    >
    </video>
  </div>
  <div class="h-[82px] w-full px-4 pb-2.5">
    <h2 class="line-clamp-1 text-3xl text-white">
      {title}
    </h2>
    <ul class="mt-2 flex flex-wrap gap-x-2 gap-y-1">
      {
        css && (
          <li>
            <img src={cssStr} alt="" class="rounded-md" />
          </li>
        )
      }
      {
        gsap && (
          <li>
            <img src={gsapStr} alt="" class="rounded-md" />
          </li>
        )
      }
      {
        motion && (
          <li class="flex h-7 items-center gap-x-2 rounded-md bg-[#080808] px-2">
            <Image src={motionLogoImage} alt="Motion" class="h-3 w-3" />
            <span class="font-sans text-[0.6875rem]/[100%] font-semibold uppercase tracking-wider text-white">
              Motion
            </span>
          </li>
        )
      }
      {
        threejs && (
          <li>
            <img src={threejsStr} alt="" class="rounded-md" />
          </li>
        )
      }
    </ul>
  </div>
</a>
